<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KanBan - 染色{% block title %}取样{% endblock %}</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='kanban/css/dyeingGetSample.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='kanban/css/AdminLTE.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='kanban/css/bootstrap.min.css')}} ">
    {% block css %}
    {% endblock %}
</head>

<body>
    <section class="invoice">
        <div class="left-div">
            <div class="title-div1">
                <span>取样看板</span>
            </div>
        </div>
        <div class="right-div">
            <div class="title-div2">
                <span>异常看板</span>
            </div>
        </div>
    </section>




    <!-- <div class="">
        <div class="">
            <section class="content-header">
                <div class="title-div">
                    <div>
                        <a href="" class="left-btn">主页</a>
                    </div>
                    <span class="title-style"><b>染色看板</b></span>
                    <div>
                        <a href="" class="right-btn">返回</a>
                    </div>
                </div>
                <div class="">

                </div>
                {% for i in range(4) %}
                <div class="pad margin no-print">
                    <div class="callout" style="margin-bottom: 0!important; border-left:6px solid green;">
                        <span class="tag-style" style="font-size:55px;">
                            <b>A001</b>
                        </span>
                        <span class="tag-style">
                            <b>卡号:</b> A181201190-R1
                        </span>
                        <span class="tag-style">
                            <b>取样时间:</b> 10:41
                        </span>
                        <span class="tag-style">
                            <b>目前状态:</b> 尚未取樣
                        </span>
                        <span class="tag-style">
                            <b>下次呼叫:</b> 71
                        </span>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div> -->
</body>

</html>