{% extends 'kanban/base.html' %}

{% block title %}生管机台详细{% endblock %}

{% block css %}
<style>
    li {
        list-style: none;
    }

    body,
    ul,
    .box-body {
        margin: 0 auto;
        padding: 0;
    }

    .div-box {
        width: 4000px;
        height: 2100px;
        border: 1px solid #ccc;
    }

    .box-title {
        height: 60px;
        border: 1px solid blue;
    }

    .box-title>ul>li,
    .mic-li,
    .mic-li2,
    .number-div {
        text-align: center;
    }

    .box-title>ul>li {
        display: inline-block;
        width: 920px;
        font-size: 40px;
        line-height: 60px;
        border-left: 1px solid #ccc;
    }

    .mic-li {
        display: inline-block;
        width: 104px !important;
        font-size: 40px;
        border-left: 1px solid #ccc;
    }

    .mic-li2 {
        float: left;
        height: 2100px;
        line-height: 233px;
        border: 1px solid #eee;
        width: 110px;
        font-size: 40px;
    }

    .card-box-div {
        float: left;
        width: 925px;
        height: 2100px;
        border: 1px solid #eee;
        overflow-y: auto;
    }

    .number-div {
        float: left;
        width: 876px;
        height: 45px;
        font-size: 36px;
        border: 1px solid #eee;
    }

    .card-div {
        float: left;
        width: 292px;
        height: 45px;
        font-size: 36px;
        border: 1px solid #eee;
    }
</style>
{% endblock %}


{% block main %}
<div class="div-box">
    <div class="box-title">
        <ul>
            <li class="mic-li">工段</li>
            <li>染色</li>
            <li>化验室</li>
            <li>水洗预定</li>
            <li>配检退卷</li>
        </ul>
    </div>
    <div class="box-title">
        <ul>
            <li class="mic-li">合计</li>
            <li> {{PM_Dye_Number}} </li>
            <li> {{PM_HY_Number}} </li>
            <li> {{PM_ZL_Number}} </li>
            <li> {{PM_TJ_Number}} </li>
        </ul>
    </div>
    <div class="box-body">
        <div class="mic-div">
            <span class="mic-li2">C016</span>
        </div>
        <div class="card-box-div">
            <div class="number-div">
                <span class="card-li"></span>
            </div>
            <div class="card-div">
                <span class="card-li">D181201196-Z1</span>
                <span class="card-li">LTW118040195</span>
                <span class="card-li">TSS28405-L21</span>
                <span class="card-li">78.5</span>
                <span class="card-li">宁波凯丽安（h&m）成衣</span>
            </div>
            <div class="card-div">
                <span class="card-li">D181201196-Z1</span>
                <span class="card-li">LTW118040195</span>
                <span class="card-li">TSS28405-L21</span>
                <span class="card-li">78.5</span>
                <span class="card-li">宁波凯丽安（h&m）成衣</span>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}