body,
.box,
ul {
    margin: 0 auto;
    padding: 0;
}

li {
    list-style: none;
}

.progress-bar-warning {
    background-color: #6A5ACD;
}

.border-left {
    border-left: 1px solid #111 !important;
}

.border-right {
    border-right: 1px solid #111 !important;
}

.border-right {
    border-right: 1px solid #111 !important;
}

.border-top {
    border-top: 1px solid #111 !important;
}

.border-bottom {
    border-bottom: 1px solid #111 !important;
}

.border {
    border: 1px solid #111 !important;
}

.text-center {
    text-align: center;
}

.box {
    width: 1900px;
    height: 980px;
    border: 1px solid #111;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.TJ-box {
    width: 408px;
    height: 144px;
}

.TJ-mac {
    width: 136px;
}

.mac-div {
    height: 48px;
    line-height: 48px;
}

.MM-div {
    height: 48px;
    width: 270px;
    line-height: 48px;
}

.TJ-Area {
    height: 95px;
    width: 270px;
    line-height: 90px;
    /* padding-left: 130px; */
}

.tag-pre-TJ {
    display: inline-block;
    line-height: 96px;
    width: 270px;
    font-size: 22px;
    color: #111;
    height: 95px;
}

.TJ-Dye-Road {
    height: 144px;
    width: 48px;
}

.Dye-A-Road {
    margin-top: 48px;
    height: 96px;
    width: 48px;
}

.Dye-AEnd-Road {
    height: 96px;
    width: 48px;
}

.road {
    background: green;
}

.road-mark-stand {
    line-height: 140px;
}

.road-mark-dye {
    line-height: 100px;
}

.Dye-AE-div {
    width: 1440px;
    height: 144px;
}

.Dye-E-div {
    width: 408px;
}

.Dye-E-empty {
    width: 408px;
    height: 48px;
}

.Dye-E1-mac {
    width: 136px;
    height: 48px;
    line-height: 48px;
}

.Dye-E2-mac {
    width: 102px;
    height: 48px;
    line-height: 48px;
}

.Dye-A-div {
    width: 984px;
    height: 96px;
}

.Dye-A-mac {
    width: 80.7px;
    height: 96px;
    line-height: 96px;
}

.Dye-A-empty {
    width: 982px;
    height: 48px;
}

.TJ-Dye-Road-2 {
    width: 1900px;
    height: 48px;
}

.TJ-Dye-AE-div {
    width: 1900px;
    height: 143px;
}

.road-mark-cross {
    margin-left: 40%;
    padding-top: 5px;
}

.middle-div {
    height: 576px;
}

.ST-mid-div {
    width: 408px;
    height: 576px;
}

.ST-mid {
    width: 230px;
}

.FP-ST-div {
    height: 288px;
    line-height: 70px;
    width: 230px;
    
}
.PJ-WIP-div{
    height: 80px;
    width: 230px;
}
.tag-pre-PJ{
    display: inline-block;
    line-height: 80px;
    width: 230px;
    font-size: 22px;
    color: #111;
}
.FP-WIP-div{
    height: 208px;
    line-height: 220px;
}
.tag-pre-FP{
    display: inline-block;
    line-height: 208px;
    width: 230px;
    font-size: 22px;
    color: #111;
}
.ST-div {
    height: 287px;
    line-height: 288px;
    width: 229px;
}
.tag-pre-STAB{
    display: inline-block;
    line-height: 28px;
    padding-top: 120px;
    width: 229px;
    font-size: 22px;
    color: #111;
}
.FP-DC-div {
    height: 576px;
    width: 48px;
}

.road-mark-FP {
    line-height: 540px;
}

.DC-room-div {
    width: 127px;
}

.DC-div {
    height: 450px;
    line-height: 450px;
}

.stRoom-div {
    line-height: 126px;
}

.DC-Dye-road {
    height: 576px;
    width: 48px;
}

.mid-mac-div {
    width: 1441px;
    height: 576px;
}

.mid-top-div {
    height: 384px;
    width: 1441px;
}

.mid-left-div {
    width: 882px;
    height: 384px;
}

.dye-CD-div {
    height: 96px;
}

.div-C-mac {
    width: 176px;
    height: 48px;
    line-height: 48px;
}

.div-D-mac {
    width: 220px;
    height: 48px;
    line-height: 48px;
}

.Dye-ZB-road {
    height: 48px;
    width: 884px;
    padding-left: 300px;
    padding-top: 4px;
}

.ZB-DB-div {
    width: 882px;
    height: 240px;
}

.ZB-TOP-div {
    width: 880px;
    height: 144px;
}

.ZB-div,
.DB-div {
    width: 326px;
    height: 144px;
}

.dye-abnormal {
    width: 228px;
    height: 144px;
    line-height: 144px;
}

.PB-mac {
    height: 48px;
    line-height: 48px;
}

.DB-mac {
    height: 96px;
    line-height: 96px;
}

.ZB-mac {
    height: 48px;
    line-height: 48px;
}

.Dye-WIP,
.CD-WIP {
    width: 440px;
    height: 95px;
    line-height: 96px;
}

.tag-pre-YD {
    text-align: center;
    display: inline-block;
    line-height: 95px;
    width: 438px;
    font-size: 22px;
    color: #111;
}

.tag-pre-Dye {
    text-align: center;
    display: inline-block;
    line-height: 95px;
    width: 438px;
    font-size: 22px;
    color: #111;
}

.Dye-SX-div {
    width: 48px;
    height: 390px;
}

.road-mark-sx {
    line-height: 380px;
}

.SX-FB-div {
    width: 510px;
    height: 383px;
}

.SX-div {
    width: 510px;
    height: 383px;
}

.FB-div {
    width: 508px;
    height: 180px;
}

.FB-mac {
    width: 150px;
    height: 180px;
    line-height: 180px;
}

.FB-empty {
    width: 350px;
    height: 180px;
    line-height: 180px;
}

.SX-WIP-div {
    width: 173px;
    height: 204px;
    line-height: 200px;
}

.tag-pre-SX {
    display: inline-block;
    padding-top: 55px;
    line-height: 43px;
    height: 205px;
    width: 173px;
    font-size: 22px;
    color: #111;
}

.SX-mac {
    width: 168px;
    height: 204px;
    line-height: 200px;
}

.SX-DX-road {
    width: 1440px;
    height: 48px;
    padding-left: 700px;
    padding-top: 5px;
}

.YBWIP-DX-div {
    width: 1440px;
    height: 145px;
}

.YB-WIP-div {
    width: 192px;
    height: 145px;
    line-height: 145px;
}

.YB-WIP {
    height: 110px;
    line-height: 110px;
}

.YB-abnormal {
    height: 35px;
    line-height: 35px;
}

.tag-pre-YB {
    height: 110px;
    line-height: 40px;
    display: inline-block;
    width: 100px;
    font-size: 22px;
    color: #111;
    padding-top: 10px;
}

.YB-DX-road {
    height: 145px;
    width: 48px;
}

.YB-WIP2 {
    height: 143px;
    width: 170px;
    line-height: 145px;
}

.tag-pre-CD{
    display: inline-block;
    text-align: center;
    height: 140px;
    line-height: 44px;
    width: 170px;
    font-size: 22px;
    color: #111;
    padding-top: 20px;
}

.DX-div {
    height: 145px;
    width: 1200px;
    line-height: 145px;
}

.DX-mac {
    height: 143px;
    width: 195px;
}

.DX-ma2 {
    height: 143px;
    width: 199px;
}

.DX-PG-road {
    height: 48px;
    width: 1899px;
    padding-left: 980px;
    padding-top: 3px;
}

.bottom-div {
    height: 162px;
    width: 1900px;
}

.ST-div2 {
    width: 410px;
    height: 162px;
    line-height: 162px;
}
.tag-pre-STCC1{
    display: inline-block;
    text-align: center;
    height: 162px;
    line-height: 162px;
    width: 410px;
    font-size: 22px;
    color: #111;
}
.ST-PG-div {
    width: 48px;
    height: 163px;
}

.road-mark-ST {
    line-height: 140px;
}

.PG-DJ-div {
    width: 1438px;
    height: 162px;
}

.DJ-div {
    width: 410px;
    height: 162px;
}

.DJ-mac {
    width: 190px;
    height: 40px;
    line-height: 40px;
}

.DJ-PG-road {
    width: 48px;
    height: 163px;
}

.DG-WIP {
    width: 172px;
    height: 162px;
    line-height: 162px;
}

.tag-pre-DG{
    display: inline-block;
    line-height: 36px;
    width: 170px;
    font-size: 22px;
    padding-top: 50px;
    color: #111;
}

.PG-div {
    width: 1026px;
}

.PG-mac {
    width: 150px;
    height: 162px;
    line-height: 162px;
}

.Dye-AB-Road {
    width: 48px;

}